@model DAO.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryDetailSub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryDetailSub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShowPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShowPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShowDefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShowDefault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileAttach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileAttach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMostView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMostView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNew)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
